<p>Add New Pet:</p>
{{pet | json}}
<form (submit)="addNewPet()">
    <div class="error" *ngIf="petName.dirty">
        <div *ngIf="!petName.valid">
            <span style="color: red">Oops! minimum Pet name length is 3!</span>
        </div>
    </div>
    <label for="">Pet Name:</label>
    <h4 style="color: red" *ngIf="errors" > Name already exist in our DataBase :(</h4>
    <input type="text"
    name="petName"
    required
    minlength="3"
    [(ngModel)]="newPet.petName"
    #petName="ngModel"
    ><br>
    <div class="error" *ngIf="petType.dirty">
        <div *ngIf="!petType.valid">
            <span style="color: red">Oops! minimum Pet type is also should be  3 characters!</span>
        </div>
    </div>
    <label for="">Pet Type:</label>
    <input type="text"
    name="petType"
    required
    minlength="3"
    [(ngModel)]="newPet.petType"
    #petType="ngModel"
    ><br>
    <div class="error" *ngIf="description.dirty">
        <div *ngIf="!description.valid">
            <span style="color: red">Oops! minimum Pet type is also should be  3 characters!</span>
        </div>
    </div>
    <label for="">Description:</label>
    <input type="text"
    name="description"
    required
    minlength="3"
    [(ngModel)]="newPet.description"
    #description="ngModel"
    ><br>
    <label for="">Skills:</label>
    <input type="text" name="skill1" [(ngModel)]="newPet.skill1"  placeholder="Skill...">
    <input type="text" name="skill2" [(ngModel)]="newPet.skill2"  placeholder="Skill...">
    <input type="text" name="skill3" [(ngModel)]="newPet.skill3"  placeholder="Skill...">
    <h3 style="color: red" *ngIf="!petName.valid && !petType.valid && !description.valid">You need to fill out out form before submission!</h3>
        <input *ngIf="petName.valid && petType.valid && description.valid" type="submit" value="Add New Pet" >
    <input type="submit" (click)="navigateTo()" value="Cancel">
</form>
