<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quote Board</title>
</head>
<body>
    <h1> Here are the awesome quotes! </h1>
    <% for(var quot of data) { %>
    <h6> <%= quot.quot %> </h6>
    <br>
    <p> <%= quot.name %> </p>
    <% } %> 
</body>
</html>