<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The thing</title>
</head>
<body>
    <h2> The Thing!</h2>
    <ul>
        <li>Name: <%= data.name %></li>
        <li>Age: <%= data.age %></li>
        <li>Name: <% for(var thing of data.hobbies) { %> <%= thing %> <% } %> %></li>
        <li>Is Sasha: <%= data.isSasha %></li>
    </ul>
</body>
</html>