<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h3>Product List</h3>
    </div>
    <div class="col-sm-4">
      <button [routerLink]="['/create']" class="btn btn-primary">Add New Product</button>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Product ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Product Qty</th>
          <th scope="col">Product Price</th>
          <th scope="col">Actions </th>
        </tr>
      </thead>
      <tbody *ngFor="let product of products">
        <td>{{ product._id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.qty }}</td>
        <td>{{ product.price }}</td>
        <td>
          <button [routerLink]="['/edit/', product._id]" class="btn btn-warning mr-2">EDIT</button>
          <button [routerLink]="['/detail/', product._id]" class="btn btn-info">DETAILS</button>
        </td>
      </tbody>
    </table>
  </div>

</div>
