<p>This Pets are Looking for new Home: </p>

<button [routerLink]="['/new']">Add new Pet to shelter</button>
<table style="width:100%; border: solid, black 2px">
  <thead>
    <th>Name:</th>
    <th>Pet Type:</th>
    <th>Actions</th>
  </thead>
  <tbody *ngFor="let pet of allPets">
    <td>{{ pet.petName }}</td>
    <td>{{ pet.petType }}</td>
    <td>
      <button [routerLink]="['/info', pet._id]">Details</button>
      <button [routerLink]="['/edit', pet._id]">Edit</button>
    </td>
  </tbody>
</table>
