<form>
    <select class="col-sm-5" name="student.rating" [(ngModel)]="student.rating" required>
        <option value="5">&#9733; &#9733; &#9733; &#9733; &#9733;</option>
        <option value="4">&#9733; &#9733; &#9733; &#9733;</option>
        <option value="3">&#9733; &#9733; &#9733;</option>
        <option value="2">&#9733; &#9733;</option>
        <option value="1">&#9733;</option>
        <option value="0">Ew, Gross</option>
    </select>
    <button class="btn btn-info btn-sm" (click)="rateSelected()">Change Rating</button>
</form>
